@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    overflow: hidden;
  }

  :root {
    --text-primary: #090909;
    --text-secondary: #ccd1d6;
    --heading-text: #000000;

    --background: #e0e9f8;
    --foreground: var(--text-primary);

    --primary: #fafafa;
    --primary-foreground: var(--text-primary);

    --secondary: #f5f5f5;
    --secondary-foreground: var(--text-primary);

    --muted: #f5f5f5;

    --accent-0: #214965;
    --accent: #355a8c;
    --accent-2: #4885ae;
    --accent-3: #6ca6cd;
    --accent-foreground: #ffffff;

    --destructive: #d9372b;

    --border: #e4e4e4;
    --input: #e4e4e4;
    --ring: #090909;

    --radius: 0.5rem;
    --smoky: #000000de;
  }

  .dark {
    --text-primary: #ccd1d6;
    --text-secondary: #090909;
    --heading-text: #ffffff;

    --background: #1a191a;
    --foreground: #ffffff;

    --primary: #353535;

    --secondary: #262626;

    --muted: #262626;

    --accent: #377ba9;

    --destructive: #c0392b;

    --border: #ffffff;
    --input: #262626;
    --ring: #d4d4d4;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--heading-text);
    font-weight: 600;
    text-transform: capitalize;
    @apply text-2xl;
  }

  .day-column:has(div[data-state="open"]) {
    @apply z-50;
  }

  .nav-label {
    position: relative;

    &::before {
      content: attr(data-label);
      white-space: nowrap;
      position: absolute;
      right: -2rem;
      padding: .5rem;
      margin: .5rem;
      font-size: .6em;
      line-height: .6em;
      border-radius: 4px;
      background-color: white;
      color: black !important;
      z-index: 999;
      pointer-events: none;
      border: 1px solid hsl(var(--border));

      transform: translateX(100%);
      opacity: 0;

      transition: opacity 150ms linear;
    }

    &:hover::before,
    &:focus-visible::before {
      animation: slide-out-bounce 150ms linear forwards;
      opacity: 1;

    }
  }

  .popup-container {

    &.open {
      opacity: 1;

      .popup {
        animation: bounceFadeIn 150ms linear forwards;
      }
    }

    &.close {
      animation:
        fadeOut 100ms linear forwards,
        hide 1ms linear 100ms forwards;

      .popup {
        animation: fadeZoomOut 100ms linear forwards;
      }
    }
  }
}

.week-picker:hover button {
  background-color: var(--primary) !important;
}

.loading-container {
  position: fixed;
  inset: 0;
  z-index: 9999;

  display: grid;
  align-content: center;
  justify-content: center;

  background-color: var(--smoky);
}

.load-spinner-container {
  position: relative;
  width: max-content;
  aspect-ratio: 1;
}

.load-spinner:nth-of-type(1) {
  --n: 1;
}

.load-spinner:nth-of-type(2) {
  --n: 2;
}

.load-spinner:nth-of-type(3) {
  --n: 3;
}

.load-spinner:nth-of-type(4) {
  --n: 4;
}

.load-spinner:nth-of-type(5) {
  --n: 5;
}

.load-spinner:nth-of-type(6) {
  --n: 6;
}

.load-spinner:nth-of-type(7) {
  --n: 7;
}

.load-spinner:nth-of-type(8) {
  --n: 8;
}

.load-spinner:nth-of-type(9) {
  --n: 9;
}

.load-spinner:nth-of-type(10) {
  --n: 10;
}

.load-spinner {
  --n: 1;
  --width: calc((var(--borderWidth) * 2 + (var(--borderWidth) / 2)) * var(--n));
  --animationDuration: calc(8s / (11 - var(--n)));
  --borderWidth: 10px;
  /* --borderWidth: 60px; */
  --strokeColor: white;

  width: var(--width);
  aspect-ratio: 2;
  box-sizing: border-box;

  /* position: relative; */
  position: absolute;
  left: calc(50% - (var(--width) / 2));
  bottom: 0;

  border-top-left-radius: calc(var(--width) / 2);
  border-top-right-radius: calc(var(--width) / 2);
  border: var(--borderWidth) double var(--strokeColor);
  border-bottom: none;
  opacity: calc(1 - (var(--n) / 20));

  animation: spinner var(--animationDuration) linear infinite;
  transform-origin: center bottom;
}

.load-spinner::after,
.load-spinner::before {
  content: "";
  width: var(--borderWidth);
  height: calc(var(--borderWidth) / 2);
  /* background-color: var(--strokeColor); */
  border: calc(var(--borderWidth) / 3) solid var(--strokeColor);
  border-top: none;
  box-sizing: border-box;
  /* border-radius: 50%; */
  border-bottom-left-radius: calc(var(--borderWidth) / 2);
  border-bottom-right-radius: calc(var(--borderWidth) / 2);

  position: absolute;
  bottom: 0;
}

.load-spinner::after {
  left: 0;
  transform: translate(-100%, 100%);
}

.load-spinner::before {
  right: 0;
  transform: translate(100%, 100%);
}

.custom-scroller::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

.custom-scroller::-webkit-scrollbar-thumb {
  background: #666;
  border-radius: 2.5px;
}

@keyframes spinner {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.slide-in {
  position: relative;
  animation: slideIn 500ms ease;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(35px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slide-out-bounce {
  0% {
    transform: translateX(50%);
  }

  70% {
    transform: translateX(105%);
  }

  100% {
    transform: translateX(100%);
  }
}

@keyframes hide {
  100% {
    z-index: -1;
  }
}

@keyframes bounceFadeIn {
  0% {
    opacity: 0;
    transform: scale(.6);
  }

  80% {
    opacity: 0.8;
    transform: scale(1.04);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fadeZoomOut {
  0% {
    opacity: 1;
    transform: scale(1);
  }

  100% {
    opacity: 0;
    transform: scale(.8);
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-primary;
  }
}