@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --text-primary: #090909;
    --text-secondary: #b8bdc2;
    --heading-text: #000000;

    --background: #e0e9f8;
    --foreground: var(--text-primary);

    --primary: #fafafa;
    --primary-foreground: var(--text-primary);

    --secondary: #f5f5f5;
    --secondary-foreground: var(--text-primary);

    --muted: #f5f5f5;

    --accent: #355a8c;
    --accent-foreground: #ffffff;

    --destructive: #d9372b;

    --border: #e4e4e4;
    --input: #e4e4e4;
    --ring: #090909;

    --radius: 0.5rem;
    --smoky: #000000bb;
  }

  .dark {
    --text-primary: #b8bdc2;
    --text-secondary: #090909;
    --heading-text: #ffffff;

    --background: #242324;
    --foreground: #ffffff;

    --primary: #353535;

    --secondary: #262626;

    --muted: #262626;

    --accent: #377ba9;

    --destructive: #854141;

    --border: #ffffff;
    --input: #262626;
    --ring: #d4d4d4;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--heading-text);
    font-weight: bold;
    text-transform: capitalize;
    @apply text-2xl;
  }

  .nav-label {
    position: relative;

    &::before {
      content: attr(data-label);
      white-space: nowrap;
      position: absolute;
      right: -2rem;
      padding: .5rem;
      margin: .5rem;
      font-size: .6em;
      line-height: .6em;
      border-radius: 4px;
      background-color: white;
      color: black !important;
      z-index: 999;
      pointer-events: none;
      border: 1px solid hsl(var(--border));

      transform: translateX(100%);
      opacity: 0;

      transition: opacity 150ms linear;
    }

    &:hover::before,
    &:focus-visible::before {
      animation: slide-out-bounce 150ms linear forwards;
      opacity: 1;

    }
  }

  .popup-container {
    z-index: -1;


    &.open {
      z-index: 50;
      opacity: 1;

      .popup {
        animation: bounceFadeIn 150ms linear forwards;
      }
    }

    &.close {
      z-index: 999;
      animation:
        fadeOut 100ms linear forwards,
        hide 1ms linear 100ms forwards;

      .popup {
        animation: fadeZoomOut 100ms linear forwards;
      }
    }
  }
}

@keyframes slide-out-bounce {
  0% {
    transform: translateX(50%);
  }

  70% {
    transform: translateX(105%);
  }

  100% {
    transform: translateX(100%);
  }
}

@keyframes hide {
  100% {
    z-index: -1;
  }
}

@keyframes bounceFadeIn {
  0% {
    opacity: 0;
    transform: scale(.6);
  }

  80% {
    opacity: 0.8;
    transform: scale(1.04);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fadeZoomOut {
  0% {
    opacity: 1;
    transform: scale(1);
  }

  100% {
    opacity: 0;
    transform: scale(.8);
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-primary;
  }
}